.header {
    display: flex;
    justify-content: center;
    margin: 2rem 2rem;
    padding: 1rem;
    background-color: #000;
}

.header .logo {
    font-size: 2rem;
    font-weight: bold;
    color: red;
}

.header .logo-api {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

.header .logoPanel a {
    display: flex;
    text-decoration: none;
}