.searchBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchBar .fields input {
    width: 20rem;
}

.fa {
    font-size: 1.2rem;
    margin-left: 1rem;
}